*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #292929;
}

.container{
    width: 1350px;
    display: flex;
    overflow-x: scroll;

}

.container div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    
    /* flex: none; */
}

.container div img {
    height: 280px;
    width: 430px;
    filter: grayscale(100%);
    transition: transform 0.2s ease-out;

}

.container div img:hover {
    height: 280px;
    width: 430px;
    filter: grayscale(0);
    transform: scale(1.05);
   
}

.container::-webkit-scrollbar{
    display: none;
}



.gallery-wrap{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

#left, #right{
    width: 50px;
    height: 50px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    cursor: pointer;

}
#left:active, #right:active{
    background-color: rgba(255, 166, 0, 0.593);

    
    

}